@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Rubik+Mono+One');





.headline {
  font-family: 'Rubik Mono One', sans-serif;
  font-size:xx-large;
}

.textHeader {
  font-family: 'Quicksand', sans-serif;
  font-size: large;
  font-weight: 700;
}

.textBody {
  font-family: 'Quicksand', sans-serif;
  font-size:medium;
  font-weight: 400;
}

.button {
  font-family: 'Quicksand', sans-serif;
  font-size:medium;
  font-weight: 800;
}